.add_post_form_outer_div {
    border: solid 0.5px white;
    margin-top: 20px;
}

.title-field{
    margin-block: 5px;
}

#description{
    margin-block:10px;
    width: 99%;
    background-color: #272729;
}

#description-title{
    color: gray;
}