.add_post_form_outer_div {
  border: solid 0.5px white;
  margin-top: 20px;
  background-color: #1a1a1b;
}

.title-field {
  margin-block: 5px;
}

#description {
  margin-block: 10px;
  width: 99%;
  /* background-color: #272729; */
}

#description-title {
  color: gray;
}

.title {
  margin-left: 15px;
}

.sections {
  display: flex;
  flex-direction: row;
  gap: 20%;
  color: white;
  margin-block: 10px;
}

.form-footer {
  display: flex;
  flex-direction: row;
  margin-block: 15px;
  /* margin-top: 35px; */
  gap: 20px;
  justify-content: end;
}

.choosefile {
  margin-block: 30px;
}

.dropArea {
  position: relative;
  display: grid;
  place-items: center;
  /* background-color: aliceblue; */
  width: 100%;
  height: 250px;
  /* margin-top: 10px; */
}

.preview {
  position: absolute;
}

.text {
  margin: 0px;
  color: aliceblue;
  border: dotted #555 3px;
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
