.logo {
  width: 100%;
  height: 51px;
  background: url("../../assets/artiflex.png") no-repeat;
  /* background-color: #111827; */
}

.topnav_outer_div {
  height: 65px;
  border: solid 0.5px white;
}

.search_bar {
  margin-block: 13px;
}

.chat,
.profile,
.notification,
.wallet,
.kart {
  margin: auto;
}

.chat:hover {
  background-color: black;
  border-radius: 30px;
}

.profile:hover {
  background-color: black;
  border-radius: 30px;
}

.notification:hover {
  background-color: black;
  border-radius: 30px;
}

.wallet:hover {
  background-color: black;
  border-radius: 30px;
}

.kart:hover {
  background-color: black;
  border-radius: 30px;
}
