.image-style {
  height: 50%;
  max-width: 100%;
}

.view_post_outer_div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-block: 50px;
  top: 60px;
  position: relative;
}

.image-outer-div > img {
  border: 1px solid navy;
  margin-block: 60px;
}

.title_name {
  font-size: 25px !important;
  margin-top: 70px;
  margin-bottom: 15px;
}

.description-heading {
  font-size: 18px !important;
}

.price {
  font-size: 25px !important;
  margin-block: 10px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.like {
  font-size: 30px;
  margin-top: 30px;
  fill: #660f56;
}

.like-outer-div {
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.count {
  margin-top: 35px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-block: 20px;
}

.description-outer-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.title {
  margin-left: 0px !important;
}

.options {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.share-icon-outer-div {
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.share-icon:hover {
  opacity: 0.5;
}

.view_post_main_div {
  border: 1px solid;
}
