.image-style {
  width: -webkit-fill-available;
}

.styles__CardFace-sc-1ryjlf6-0 {
  width: 99.7% !important;
}

.like-icon {
  fill: black;
  font-size: 30px;
  margin: auto;
}

.active-status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #83ed43;
}

.active-status-border {
  /* width: 30%;
  height: 30%; */
  border-radius: 50%;
  border: 1px solid black;
}

.button-action {
  display: flex;
  gap: 30px;
  width: 100%;
  justify-content: end;
}

.share-icon {
  fill: black;
  font-size: 30px;
  margin: auto;
}

.share-icon-outer-div {
  display: flex;
  width: 140px;
}

.inside-card-footer {
  display: flex;
  gap: 10px;
}

.comment-outer-div {
  display: flex;
  width: 140px;
  gap: 10px;
}

.comment-icon {
  fill: black;
  font-size: 30px;
  margin: auto;
}

.description {
  text-align: center;
}

.post-card {
  border: 1px solid;
}
