body {
  margin: 0;
  padding: 0;
  background-color: #111827;
}

.main_page_top {
  height: 70%;
  padding-left: 3%;
}

.navbar_section {
  display: flex;
  flex-direction: row;
  background-color: #111827;
}
.logo {
  display: flex;
  width: 30%;
  height: 10vh;
  background: url("../../assets/artiflex.png") no-repeat;
  background-color: #111827;
}
.nav_menu {
  /* color: white; */
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 60%;
}
a {
  text-decoration: none;
  padding-left: 5rem;
}
.right_section {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: end;
  gap: 10px;
}
.hero_main {
  width: 98.5%;
  display: flex;
  justify-content: space-between;
}
.hero_section {
  width: 48%;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}
.artiflex_motive {
  width: 100%;
}
.artiflex_intro {
  margin-top: 10px;
  text-align: left;
}
.center_button {
  margin-top: 5%;
  display: flex;
  justify-content: left;
  gap: 10%;
}
.outer_section {
  position: relative;
}
.hero_section_back {
  margin-right: 10%;
  background-color: #ff03f5;
  border-radius: 100%;
  height: 300px;
  width: 300px;
  margin-top: 20%;
}
.hero_head {
  top: 18%;
  left: 10%;
  background-color: #fff;
  width: 250px;
  height: 335px;
  text-align: center;
  justify-content: center;
  position: absolute;
}

.img_section {
  background: url('https://images.unsplash.com/photo-1637819203905-2294a31391d3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80')
    no-repeat;
  position: absolute;
  top: 22%;
  left: 10%;
  width: 250px;
  height: 265px;
}

.img_section img {
  width: 95%;
  height: 95%;
  
}
.demo_button {
  display: flex;
  justify-content: center;
  gap: 10%;
  padding-bottom: 10px;
}
/* .bid_button{
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
} */

.main_page_bottom {
  margin-top: 2%;
  display: flex;
  height: 13vh;
  justify-content: space-around;
  text-align: center;
  flex-grow: 1;
}
.space {
  padding-top: 10px;
  border-bottom: 1px solid #111827;
}

.security_card {
  border: 1px solid black;
  background-color: #fffae5;
  padding: 30px;
}

.secure_payment {
  border: 1px solid black;
  background-color: #fff5ff;
  padding: 30px;
}

.market_verified {
  border: 1px solid black;
  background-color: #f5fcff;
  padding: 30px;
}

