.section1 {
  margin-top: 100px;
}

.premium {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.profile-info-section {
  padding: 0 !important;
}
.recentpost {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
