.filter_post_outer_div {
  border: solid 0.5px white;
  margin-top: 20px;
}

.time_line_main_div {
  margin-top: 20px;
}

.all_button,
.art_button,
.ads_button,
.others_button {
  margin-top: 8px;
}

.premium,
.post-list-container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
